#game-container{
    position: absolute; 
    left: 0; 
    top: 0; 
    z-index: 0;
    background: rgb(74, 75, 85);
    background-image: url('../images/bg.png'), url('../images/cross.png');
    
}
#info-container{
    position: absolute; 
    left: 0; 
    top: 0; 
    z-index: 0;
}
#groundLayer {
    position: absolute; 
    left: 0; 
    top: 0; 
    z-index: 0;
    

}

#splatLayer{
    position: absolute; 
    left: 0; 
    top: 0; 
    z-index: 0;
    /*filter: drop-shadow(0px 0px 5px rgb(235, 84, 147));*/
}
#splatAnimationLayer{
    position: absolute; 
    left: 0; 
    top: 0; 
    z-index: 0;
}

#fieldLayer{
    position: absolute; 
    left: 0; 
    top: 0; 
    z-index: 0;
    /*filter: drop-shadow(0px 0px 5px rgba(63, 255, 239, 0.555));*/
}

#playerLayer{
    position: absolute; 
    left: 0; 
    top: 0; 
    z-index: 0;
}

#itemLayer{
    position: absolute; 
    left: 0; 
    top: 0; 
    z-index: 0;
}
#bulletLayer{
    position: absolute; 
    left: 0; 
    top: 0; 
    z-index: 0;
}
#aimPointLayer{
    position: absolute; 
    left: 0; 
    top: 0; 
    z-index: 0;
}
#svg-container{
    /* position: absolute; 
    left: 0; 
    top: 0; 
    z-index: 0; */
    border:1px solid;
}

#timer {
    font-size: 70px;
}

#anouncement {
    font-size: 30px;
    fill: bisque;
}

#timesUp {
    position: absolute;

    top:0;
    bottom:0;
    padding: auto;

    width: 100%;
    height: 100%;

    animation: timesUp 0.5s;
}

#timesUp h1 {
    animation: changeColor 3s;
    font-size: 100px;
    margin-top: 300px;
    filter: drop-shadow(0px 0px 10px rgba(32, 29, 29, 0.829))
}

@keyframes timesUp {
    from {
        transform: scale(10);
        opacity: 0.3;
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes changeColor {
    0% {
        color: white;
    }
    50% {
        color: rgb(148, 221, 255))
    }
    100% {
        color: rgb(44, 188, 255))
    }
}