#game-container{
    position: absolute; 
    left: 0; 
    top: 0; 
    z-index: 0;
    background: rgb(74, 75, 85);
    background-image: url('../images/bg.png'), url('../images/cross.png');
    
}
#info-container{
    position: absolute; 
    left: 0; 
    top: 0; 
    z-index: 0;
}
#groundLayer {
    position: absolute; 
    left: 0; 
    top: 0; 
    z-index: 0;
    

}

#splatLayer{
    position: absolute; 
    left: 0; 
    top: 0; 
    z-index: 0;
    /*filter: drop-shadow(0px 0px 5px rgb(235, 84, 147));*/
}
#splatAnimationLayer{
    position: absolute; 
    left: 0; 
    top: 0; 
    z-index: 0;
}

#fieldLayer{
    position: absolute; 
    left: 0; 
    top: 0; 
    z-index: 0;
    /*filter: drop-shadow(0px 0px 5px rgba(63, 255, 239, 0.555));*/
}

#playerLayer{
    position: absolute; 
    left: 0; 
    top: 0; 
    z-index: 0;
}

#itemLayer{
    position: absolute; 
    left: 0; 
    top: 0; 
    z-index: 0;
}
#bulletLayer{
    position: absolute; 
    left: 0; 
    top: 0; 
    z-index: 0;
}
#aimPointLayer{
    position: absolute; 
    left: 0; 
    top: 0; 
    z-index: 0;
}
#svg-container{
    /* position: absolute; 
    left: 0; 
    top: 0; 
    z-index: 0; */
    border:1px solid;
}

#timer {
    font-size: 70px;
}