#groundLayer {
    position: absolute; 
    left: 0; 
    top: 0; 
    z-index: 0;
}

#splatLayer{
    position: absolute; 
    left: 0; 
    top: 0; 
    z-index: 0;
}
#splatAnimationLayer{
    position: absolute; 
    left: 0; 
    top: 0; 
    z-index: 0;
}

#fieldLayer{
    position: absolute; 
    left: 0; 
    top: 0; 
    z-index: 0;
}

#playerLayer{
    position: absolute; 
    left: 0; 
    top: 0; 
    z-index: 0;
}

#itemLayer{
    position: absolute; 
    left: 0; 
    top: 0; 
    z-index: 0;
}
#aimPointLayer{
    position: absolute; 
    left: 0; 
    top: 0; 
    z-index: 0;
}
#svg-container{
    /* position: absolute; 
    left: 0; 
    top: 0; 
    z-index: 0; */
    border:1px solid;
}