svg text {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.inkBar{
    
}

#inkBarBaseDiv {
    width: 400px;
    height: 50px;
    background: rgb(95, 145, 202);
    border: solid 5px;
    border-color: #FFFFFF;
    border-radius: 5px;
}