.UserBlock-container {
    display: block;
    position: relative;
    min-width: 70%;
    max-width: 80%;
    height: 100px;
    margin: auto;
    padding:15px;

    border: solid 3px;
    border-color: rgb(53, 52, 52);
    border-radius: 40px;

    background: rgba(61, 61, 61, 0.534)

}

.UserBlock-container img{
    position: relative;
    max-width: 30%;
    max-height: 100px;
    float: left;
    margin-left: 10%;
}
.UserBlock-container h3 {
    margin-top: 10px;
    margin-bottom: 5px;

}
.UserBlock-container h4 {
    margin-top: 10px;
    margin-bottom: 5px;
}